<h1>New game</h1>
<div class="letters">
<% @letters.each do |letter| %>
  <div class="letter-block">
    <div class="letter">
      <%= letter %>
    </div>
  </div>
<% end %>
</div>

<div class="play">
<div class="question">What is the longest word you can find?</div>
<div class="answer">
  <form action="score" method="post">
    <input type="text" name="word" id="word">
    <input type="text" name="letters" id="letters" value="<%=@letters%>" type="hidden">
    <input type="submit" value="Play">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
</div>