<h1>New game</h1>
<div class="letters">
<% @letters.each do |letter| %>
  <div class="letter-block">
    <div class="letter">
      <%= letter %>
    </div>
  </div>
<% end %>
</div>

<div class="game">
  <form action="/score" method="post">
    <label for="word">What is the longest word you can find?</label>
    <input type="text" name="word" id="word">
    <input type="submit" value="Play">
  </form>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</div>