<h1>New game</h1>
<div class="letters">
<% @letters.each do |letter| %>
  <div class="letter-block">
    <div class="letter">
      <%= letter %>
    </div>
  </div>
<% end %>
</div>

<div class="play">
<div class="question">What is the longest word you can find?</div>
<div class="answer">
  <form action="/score" method="post">
  <input type="text">
  <input type="submit" value="play">
  </form>
</div>
</div>